// main colour palette
$primary-colour: #18435A;
$secondary-colour: #00A5CF;
$black-colour: #131B1E;
$dark-grey-colour: #5B646B;
$light-grey-colour: #ccc;
$white-colour: #fff;

// font colours
$black-font-colour: $black-colour;
$white-font-colour: $white-colour;
$grey-font-colour: #8E969E;

$h1-font-colour: $black-font-colour;
$h2-font-colour: $grey-font-colour;
$h3-font-colour: $black-font-colour;
$h4-font-colour: $black-font-colour;
$h5-font-colour: $black-font-colour;
$h6-font-colour: $black-font-colour;
$p-font-colour: $black-font-colour;

// background colours
$body-bg: $white-colour;
$page-section-bg: $light-grey-colour;
$box-section-bg: $white-colour;
