// main colour palette
$primary-colour: #18435A;
$secondary-colour: #00A5CF;
$black-colour: #03191E;
$dark-grey-colour: #3A3E3B;
$light-grey-colour: #ccc;
$white-colour: #fff;

// font colours
$dark-font-colour: $black-colour;
$light-font-colour: $white-colour;
$h1-font-colour: $dark-font-colour;
$h2-font-colour: $light-grey-colour;
$h3-font-colour: $dark-grey-colour;
$h4-font-colour: $dark-font-colour;
$h5-font-colour: $dark-font-colour;
$h6-font-colour: $dark-font-colour;
$p-font-colour: $dark-font-colour;
