// family
$font-family: Arial, Helvetica, sans-serif;

// size
$h1-web-size: 40px;
$h1-mobile-size: 36px;
$h2-web-size: 30px;
$h2-mobile-size: 26px;
$h3-web-size: 26px;
$h3-mobile-size: 24px;
$h4-web-size: 24px;
$h4-mobile-size: 22px;
$h5-web-size: 22px;
$h5-mobile-size: 20px;
$h6-web-size: 20px;
$h6-mobile-size: 18px;
$p-web-size: 20px;
$p-mobile-size: 18px;

// line spacing
$line-spacing: 1.5;
