body {
  margin: 0;
  padding: 0;
  background: $body-bg;
  font-family: $font-family;
  line-height: $line-spacing;
}

.main-content {
  // header height + the two margins (header margin, section margin) + header border width
  margin-top: calc(#{$header-height} + calc(#{$margin} * 2) + 1px);
}
