%box-section-typ {
  h1 {
    color: $h1-font-colour;
  }
  h2 {
    color: $h2-font-colour;
  }
  h3 {
    color: $h3-font-colour;
  }
  h4 {
    color: $h4-font-colour;
  }
  h5 {
    color: $h5-font-colour;
  }
  h6 {
    color: $h6-font-colour;
  }
  p {
    color: $p-font-colour;
  }
}

%box-section {
  @extend %box-section-typ;
  background: $box-section-bg;
  padding: $margin;
  margin: $margin auto;
  width: 45%;
}

.box-section {
  @extend %box-section;
}

.box-section-inline {
  @extend %box-section;
  display: inline-block;
  margin: $margin;
  width: 25%;
}

.box-section-inline-container {
  width: 100%;
  margin: $margin;
  padding: $margin;
  text-align: center;
}

%page-section {
  background: $body-bg;
  padding: $margin;
  width: 100%;
  min-height: 500px;
  max-height: fit-content;
}

.page-section-white {
  @extend %page-section;
  .box-section,
  .box-section-inline {
    border: none;
    background: inherit;
  }
}

%page-section-colour {
  @extend %page-section;
  h1, h2, h3, h4, h5, h6, p {
    color: $white-font-colour;
  }
  .box-section,
  .box-section-inline {
    @extend %box-section-typ;
  }
}

.page-section-colour_secondary {
  @extend %page-section-colour;
  background: $secondary-colour;
}
.page-section-colour_primary {
  @extend %page-section-colour;
  background: $primary-colour;
}
