h1 {
  margin: 0;
  padding: 0;
  color: $h1-font-colour;
  font-size: $h1-web-size;
  font-weight: 700;
}
h2 {
  margin: 0;
  padding: 0;
  color: $h2-font-colour;
  font-size: $h2-web-size;
  font-weight: 600;
}
h3 {
  margin: 0;
  padding: 0;
  color: $h3-font-colour;
  font-size: $h3-web-size;
  font-weight: 600;
}
h4 {
  margin: 0;
  padding: 0;
  color: $h4-font-colour;
  font-size: $h4-web-size;
  font-weight: 600;
}
h5 {
  margin: 0;
  padding: 0;
  color: $h5-font-colour;
  font-size: $h5-web-size;
  font-weight: 600;
}
h6 {
  margin: 0;
  padding: 0;
  color: $h6-font-colour;
  font-size: $h6-web-size;
  font-weight: 600;
}
p {
  margin: $margin 0;
  padding: 0;
  color: $p-font-colour;
  font-size: $p-web-size;
  font-weight: 400;
  max-width: 65ch;
}
a, ul, li {
  margin: 0;
  padding: 0;
  color: $a-font-colour;
  font-size: $a-web-size;
  font-weight: 400;
}

a:hover, a:focus, a:active {
  color: $grey-font-colour;
}
