h1 {
  color: $h1-font-colour;
  font-size: $h1-web-size;
  font-weight: 600;
}
h2 {
  color: $h2-font-colour;
  font-size: $h2-web-size;
  font-weight: 400;

}
h3 {
  color: $h3-font-colour;
  font-size: $h3-web-size;
  font-weight: 400;
  text-transform: uppercase;

}
h4 {
  color: $h4-font-colour;
  font-size: $h4-web-size;
  font-weight: 400;
  text-transform: uppercase;

}
h5 {
  color: $h5-font-colour;
  font-size: $h5-web-size;
  font-weight: 400;
  text-transform: uppercase;

}
h6 {
  color: $h6-font-colour;
  font-size: $h6-web-size;
  font-weight: 400;
  text-transform: uppercase;

}
p {
  color: $p-font-colour;
  font-size: $p-web-size;
  font-weight: 400;
  max-width: 65ch;
}
