// main colour palette
$black-colour: #2D2E2E;
$dark-grey-colour: #716969;
$white-colour: #F0F7F4;
$light-grey-colour: #ccc;
$primary-colour: #98C1D9;
$tertiary-colour: #FFFC31;
$secondary-colour: #982649;
$yellow-colour: #FFFC31;

// font colours
$black-font-colour: $black-colour;
$white-font-colour: #fff;
$grey-font-colour: #8E969E;
$contrast-font-colour: #FB4D3D;

$h1-font-colour: $black-font-colour;
$h2-font-colour: $grey-font-colour;
$h3-font-colour: $black-font-colour;
$h4-font-colour: $black-font-colour;
$h5-font-colour: $black-font-colour;
$h6-font-colour: $black-font-colour;
$p-font-colour: $black-font-colour;
$a-font-colour: $secondary-colour;

// background colours
$body-bg: $white-colour;
$page-section-bg: $light-grey-colour;
$box-section-bg: $white-colour;
